.model-preview {
    /* border: 1px solid white; */
    height: 600px;
    min-width: 500px;
    max-width: 33%;
    overflow: hidden;
}

.model-preview canvas, .model-preview img {
    width: 100% !important;
    height: 100% !important;
    cursor: all-scroll;
    filter: drop-shadow(0 0 4px white);
}

.model-links {
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.model-link {
    background-color: #00000049;
    border: 1px solid lightgrey;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: box-shadow scale;
    transition: all 300ms;
}

.model-link img {
    will-change: filter;
    transition: all 300ms;
}

.model-link:hover {
    box-shadow: 0 0 4px lightgrey;
    scale: 1.08;
}

.model-link:hover>img{
    filter: drop-shadow(0 0 4px white);
}

.model-link>img {
    width: 32px;
    height: 32px;
    padding: 8px;
}