@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

.time {
  font-family: 'Inknut Antiqua';
  position: fixed;
  top: 16px;
  right: 32px;
  text-shadow: 0 0 10px lightblue;
}