.skill {
  position: relative;
  clip-path: polygon(
    8px 0, calc(100% - 8px) 0,
    100% 8px, 100% calc(100% - 8px),
    calc(100% - 8px) 100%, 8px 100%,
    0 calc(100% - 8px), 0 8px
  );
  padding: 8px;
  background-color: black;
  text-shadow: 0 0 2px grey;
  transform: scale(1.5);
  will-change: transform;
  transition: all 300ms;
  /* cursor: pointer; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
  
.skill:hover {
  transform: scale(2);
}

.skill-shadow {
  position: relative;
  display: flex;
  margin: 16px;
  filter: drop-shadow(0 4px 8px lightgrey);
  z-index: 1;
}

.skill-icon {
  width: 32px;
  height: 32px;
  align-content: center;
}

@media (max-width: 480px) {
  .skills {
    scale: 0.45;
    margin-left: -16px;
  }

  .skill {
    scale: 2;
  }

  .skill:not(:hover) p {
    display: none;
  }
}

@media (max-width: 768px) {
  .skills {
    scale: 0.8;
  }
}