.about-me {
    position: relative;
    width: 100%;
    max-width: 1000px;
    background-color: #222222;
    display: flex;
}

.photo {
    max-width: 250px;
    height: 100%;
    object-fit: cover;
}

.photo-wrapper {
    position: relative;
    max-width: 300px;
}

.star {
    position: absolute;
    top: 100px;
    right: 120px;
    transform: rotate(0deg) scale(0);
}

.photo-wrapper:hover .star {
    animation: shine 0.75s;
}

@keyframes shine {
    0% {
        transform: rotate(0deg) scale(0);
    }
    50% {
        transform: rotate(180deg) scale(0.75);
    }
    100% {
        transform: rotate(360deg) scale(0);
    }
}

.icon {
    color: white;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
}

.about {
    max-width: 100%;
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-text {
    padding-bottom: 1em;
    text-align: left;
}

.about-bottom {
    margin-bottom: 0;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.about-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-links a {
    position: relative;
    cursor: pointer;
    will-change: filter scale;
    transition: all 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-links>a:hover {
    scale: 1.08;
}

.about-links>a:hover img {
    filter: drop-shadow(0 0 4px white);
}

.download-btn {
    display: flex;
    height: fit-content;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 4px;
    padding-left: 48px;
    padding-right: 48px;
    gap: 8px;
    margin: 8px;
    will-change: box-shadow;
    transition: all 300ms;
}

.download-btn:hover {
    box-shadow: 0 3px 8px green;
}

.download-btn>img {
    width: 24px;
    height: 24px;
}

@media (max-width: 1050px) {
    .about-me {
        flex-direction: column;
        width: 100%;
    }

    .about-text {
        font-size: 14px;
    }

    .photo {
        max-width: unset;
        width: 100%;
        max-height: 160px;
        object-fit: cover;
    }
    
    .photo-wrapper {
        position: relative;
        max-width: unset;
    }

    .about-bottom {
        flex-direction: column;
        align-items: center;
        padding-top: 1em;
    }
}

@media (max-height: 700px) {
    .git-calendar {
        display: none;
    }
}